<!--<header class="banner-section">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">A trading bot so good, we don't need your money.</div>
      <div class="intro-heading text-uppercase">we just need you!</div>
      <div class="clearfix"></div>
      <a class="btn button-link" href="http://eepurl.com/dvNqdb">General Enquiries</a>
        <a class="btn button-link" href="http://eepurl.com/dvEDdv">Customer Sign Up!</a>
        <a class="btn button-link" href="http://eepurl.com/dvLiqz">Become a Sponsor!</a>
    </div>
  </div>
</header>-->
