USE [master]
GO
/****** Object:  Database [OnlineQuiz]    Script Date: 07-08-2022 15:30:50 ******/
CREATE DATABASE [OnlineQuiz]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnlineQuiz', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SA\MSSQL\DATA\OnlineQuiz.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OnlineQuiz_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SA\MSSQL\DATA\OnlineQuiz_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlineQuiz].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlineQuiz]
GO
/****** Object:  Table [dbo].[AttemptQuiz]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttemptQuiz](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TestSeriesId] [int] NULL,
	[AttemtDate] [datetime] NULL,
	[isCompleted] [bit] NULL,
	[Scored] [int] NULL,
	[Userid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[config]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[config](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[allowBack] [bit] NULL,
	[allowReview] [bit] NULL,
	[autoMove] [bit] NULL,
	[duration] [bit] NULL,
	[pageSize] [bit] NULL,
	[requiredAll] [bit] NULL,
	[richText] [bit] NULL,
	[shuffleQuestions] [bit] NULL,
	[shuffleOptions] [bit] NULL,
	[showClock] [bit] NULL,
	[showPager] [bit] NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Demo]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JSONValue] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FeedBack] [nvarchar](max) NULL,
	[UserId] [int] NULL,
	[Createdate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterQuestionPdf]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterQuestionPdf](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[qustinonLink] [nvarchar](500) NOT NULL,
	[AnswerLink] [nvarchar](500) NULL,
	[PaperType] [int] NOT NULL,
	[Yeasr] [nvarchar](500) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[PName] [nvarchar](300) NULL,
	[SMonth] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Option]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Option](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[isAnswer] [bit] NULL,
	[QuestionId] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperType]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubjectText] [nvarchar](500) NOT NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PdfSeries]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PdfSeries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[YearQ] [int] NOT NULL,
	[TestSeriesName] [nvarchar](500) NOT NULL,
	[DownLoadLink] [nvarchar](550) NOT NULL,
	[AnswerLink] [nvarchar](500) NULL,
	[Qtype] [int] NOT NULL,
	[isActive] [bit] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](550) NULL,
	[ImageUrl] [nvarchar](300) NULL,
	[Price] [decimal](18, 2) NULL,
	[isActive] [bit] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Quantity] [int] NULL,
	[Category] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NULL,
	[isActive] [bit] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifyDate] [datetime] NOT NULL,
	[ModifyBy] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QId] [int] IDENTITY(1,1) NOT NULL,
	[QuestinName] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[testSerieId] [int] NOT NULL,
	[sorting] [int] NULL,
	[youtube] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[QId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionType]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[subjectCat] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbL_User]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbL_User](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Salt] [nvarchar](max) NOT NULL,
	[EmailSalt] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[Phone] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestSeries]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestSeries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SeriesName] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[Org] [int] NULL,
	[Subject] [nvarchar](max) NULL,
	[Time] [int] NULL,
	[UserdId] [int] NULL,
	[totalQ] [int] NULL,
	[QuestionType] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AttemptQuiz] ON 

INSERT [dbo].[AttemptQuiz] ([id], [TestSeriesId], [AttemtDate], [isCompleted], [Scored], [Userid]) VALUES (1, 1, CAST(N'2021-04-03T19:34:08.643' AS DateTime), 1, 10, 1)
INSERT [dbo].[AttemptQuiz] ([id], [TestSeriesId], [AttemtDate], [isCompleted], [Scored], [Userid]) VALUES (2, 1006, CAST(N'2021-04-10T14:43:17.007' AS DateTime), 1, 10, 1)
INSERT [dbo].[AttemptQuiz] ([id], [TestSeriesId], [AttemtDate], [isCompleted], [Scored], [Userid]) VALUES (3, 1006, CAST(N'2021-04-10T14:43:27.127' AS DateTime), 1, 10, 1)
SET IDENTITY_INSERT [dbo].[AttemptQuiz] OFF
GO
SET IDENTITY_INSERT [dbo].[Demo] ON 

INSERT [dbo].[Demo] ([Id], [JSONValue]) VALUES (1, N'{"id":1,"Name":"test123","isAnswer":true,"QuestionId":1}')
INSERT [dbo].[Demo] ([Id], [JSONValue]) VALUES (2, N'{"id":1,"Name":"TEST1","isAnswer":true,"QuestionId":1}')
INSERT [dbo].[Demo] ([Id], [JSONValue]) VALUES (3, N'{"id":2,"Name":"Final Data","isAnswer":true,"QuestionId":1}')
SET IDENTITY_INSERT [dbo].[Demo] OFF
GO
SET IDENTITY_INSERT [dbo].[feedback] ON 

INSERT [dbo].[feedback] ([Id], [FeedBack], [UserId], [Createdate]) VALUES (1, N'gfghfghfgh ggfg', 2, CAST(N'2021-12-11T19:12:05.177' AS DateTime))
INSERT [dbo].[feedback] ([Id], [FeedBack], [UserId], [Createdate]) VALUES (2, N'tets', 2, CAST(N'2022-07-24T11:24:50.270' AS DateTime))
SET IDENTITY_INSERT [dbo].[feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[MasterQuestionPdf] ON 

INSERT [dbo].[MasterQuestionPdf] ([Id], [qustinonLink], [AnswerLink], [PaperType], [Yeasr], [IsActive], [CreatedDate], [PName], [SMonth]) VALUES (1, N'https://www.sarvgyan.com/articles/ugc-net-exam-pattern', N'https://www.sarvgyan.com/articles/ugc-net-exam-pattern', 5, N'2020', 1, CAST(N'2021-04-18T14:21:30.577' AS DateTime), N'SSC', NULL)
INSERT [dbo].[MasterQuestionPdf] ([Id], [qustinonLink], [AnswerLink], [PaperType], [Yeasr], [IsActive], [CreatedDate], [PName], [SMonth]) VALUES (2, N'https://www.homeworkmarket.com/files/theysayisaywithreadings3e-pdf-4618093', N'https://www.homeworkmarket.com/files/theysayisaywithreadings3e-pdf-4618093', 2, N'2020', 1, CAST(N'2021-04-24T12:43:59.643' AS DateTime), N'Hindi', NULL)
INSERT [dbo].[MasterQuestionPdf] ([Id], [qustinonLink], [AnswerLink], [PaperType], [Yeasr], [IsActive], [CreatedDate], [PName], [SMonth]) VALUES (3, N'https://www.homeworkmarket.com/files/theysayisaywithreadings3e-pdf-4618093', N'https://www.homeworkmarket.com/files/theysayisaywithreadings3e-pdf-4618093', 3, N'2020', 1, CAST(N'2021-04-24T12:44:34.623' AS DateTime), N'Hindi English', NULL)
SET IDENTITY_INSERT [dbo].[MasterQuestionPdf] OFF
GO
SET IDENTITY_INSERT [dbo].[Option] ON 

INSERT [dbo].[Option] ([Id], [Name], [isAnswer], [QuestionId], [IsActive], [CreatedDate]) VALUES (1, N'माँ', 1, 1, 1, CAST(N'2021-12-18T19:01:51.413' AS DateTime))
INSERT [dbo].[Option] ([Id], [Name], [isAnswer], [QuestionId], [IsActive], [CreatedDate]) VALUES (2, N'बहन', 0, 1, 1, CAST(N'2021-12-18T19:01:51.413' AS DateTime))
INSERT [dbo].[Option] ([Id], [Name], [isAnswer], [QuestionId], [IsActive], [CreatedDate]) VALUES (3, N'पुत्री', 0, 1, 1, CAST(N'2021-12-18T19:01:51.413' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Option] OFF
GO
SET IDENTITY_INSERT [dbo].[PaperType] ON 

INSERT [dbo].[PaperType] ([Id], [SubjectText], [isActive]) VALUES (1, N'First Paper 1', 1)
INSERT [dbo].[PaperType] ([Id], [SubjectText], [isActive]) VALUES (2, N'Hindi', 1)
INSERT [dbo].[PaperType] ([Id], [SubjectText], [isActive]) VALUES (3, N'English', 1)
SET IDENTITY_INSERT [dbo].[PaperType] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Description], [ImageUrl], [Price], [isActive], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Quantity], [Category]) VALUES (1, N'Rice', N'dslks djsjdns bnj n[pdnin', N'https://images.app.goo.gl/9poRCNJS7jpULbdC6', CAST(444.00 AS Decimal(18, 2)), 1, CAST(N'2022-06-11T13:37:21.237' AS DateTime), 2, CAST(N'2022-08-07T14:02:53.340' AS DateTime), 2, 35, 3)
INSERT [dbo].[Product] ([Id], [Name], [Description], [ImageUrl], [Price], [isActive], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Quantity], [Category]) VALUES (2, N'Omelet', N'sahfg  as gfhsag f sag f', N'https://images.app.goo.gl/9poRCNJS7jpULbdC6', CAST(100.00 AS Decimal(18, 2)), 1, CAST(N'2022-06-19T12:15:47.153' AS DateTime), 2, CAST(N'2022-08-07T10:58:24.267' AS DateTime), 2, 1, 3)
INSERT [dbo].[Product] ([Id], [Name], [Description], [ImageUrl], [Price], [isActive], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Quantity], [Category]) VALUES (3, N'Tossed salad', N'Chesss', N'https://images.app.goo.gl/9poRCNJS7jpULbdC6', CAST(200.00 AS Decimal(18, 2)), 1, CAST(N'2022-06-19T12:17:17.777' AS DateTime), 2, CAST(N'2022-08-07T10:39:50.747' AS DateTime), 2, 20, 3)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([Id], [Name], [isActive], [CreatedDate], [CreatedBy], [ModifyDate], [ModifyBy], [Description]) VALUES (2, N'hfgfgum', 1, CAST(N'2022-06-12T12:18:55.017' AS DateTime), 2, CAST(N'2022-08-07T13:54:51.777' AS DateTime), 2, N'')
INSERT [dbo].[ProductCategory] ([Id], [Name], [isActive], [CreatedDate], [CreatedBy], [ModifyDate], [ModifyBy], [Description]) VALUES (3, N'fdasg dfg', 1, CAST(N'2022-06-12T12:21:06.183' AS DateTime), 2, CAST(N'2022-08-07T10:19:53.147' AS DateTime), 2, N'')
INSERT [dbo].[ProductCategory] ([Id], [Name], [isActive], [CreatedDate], [CreatedBy], [ModifyDate], [ModifyBy], [Description]) VALUES (4, N'Test q2t', 1, CAST(N'2022-06-12T12:37:51.700' AS DateTime), 2, CAST(N'2022-06-12T12:39:46.043' AS DateTime), 2, N'kljkl')
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([QId], [QuestinName], [IsActive], [CreatedDate], [testSerieId], [sorting], [youtube]) VALUES (1, N'राजीव एक तस्वीर की ओर संकेत करते हुए, एक महिला से कहा, “उसकी बहन के पिता मेरे ससुर के इकलौते पुत्र है” महिला का राजीव से क्या सम्बन्ध है?', 1, CAST(N'2021-12-18T19:01:51.397' AS DateTime), 1, 2830, NULL)
INSERT [dbo].[Question] ([QId], [QuestinName], [IsActive], [CreatedDate], [testSerieId], [sorting], [youtube]) VALUES (2, N'A + B का अर्थ है, ‘A,B का पुत्र है’, A – B का अर्थ है, ‘A,B की पत्नी है’, A × B का अर्थ है ‘A, B की माँ है’,A ÷ B का अर्थ है, ‘A, B की बहन है। तो C + D – E का अर्थ क्या है?', 1, CAST(N'2021-12-18T19:03:17.453' AS DateTime), 1, 9469, NULL)
INSERT [dbo].[Question] ([QId], [QuestinName], [IsActive], [CreatedDate], [testSerieId], [sorting], [youtube]) VALUES (3, N'यदि A, B की माँ है, X, Y का पिता है, H, J का भाई है, L, Y के पिता का भाई है, B, L की बहन है और J, A का पति है। तो J का Y से क्या संबंध है?', 1, CAST(N'2021-12-18T19:04:25.850' AS DateTime), 1, 917, NULL)
GO
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionType] ON 

INSERT [dbo].[QuestionType] ([Id], [Value], [IsActive], [CreatedDate], [subjectCat]) VALUES (1, N'UGC NET', 1, CAST(N'2021-04-07T08:01:23.940' AS DateTime), NULL)
INSERT [dbo].[QuestionType] ([Id], [Value], [IsActive], [CreatedDate], [subjectCat]) VALUES (2, N'Blood Releation', 1, CAST(N'2021-12-12T09:08:44.000' AS DateTime), NULL)
INSERT [dbo].[QuestionType] ([Id], [Value], [IsActive], [CreatedDate], [subjectCat]) VALUES (3, N'SSC CGL', 1, CAST(N'2021-12-12T09:08:44.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[QuestionType] OFF
GO
SET IDENTITY_INSERT [dbo].[TbL_User] ON 

INSERT [dbo].[TbL_User] ([UserId], [FirstName], [LastName], [UserName], [Password], [Salt], [EmailSalt], [IsActive], [Status], [CreatedDate], [UpdateDate], [Phone]) VALUES (1, N'nitin', N'nitin', N'nitinsaxenahapur@gmail.com', N'5P0lKecWmzc+8qMnEngw8Q==', N'a30B9swlu6aq+iiJWnOohw==', N'yyGbHySVlt6vCj8kRw5BVg==', 1, 1, CAST(N'2021-04-03T19:28:37.537' AS DateTime), CAST(N'2021-04-03T19:28:37.537' AS DateTime), 0)
INSERT [dbo].[TbL_User] ([UserId], [FirstName], [LastName], [UserName], [Password], [Salt], [EmailSalt], [IsActive], [Status], [CreatedDate], [UpdateDate], [Phone]) VALUES (2, N'testw', N'testw', N'infoindia78@gmail.com', N'5kZymHaFHuRbJvtffgKadQ==', N'0Gh6naCQneifGmpwwustIw==', N'i+U9N0UXkLAJNDqR2jAd0g==', 1, 1, CAST(N'2021-04-10T16:37:42.873' AS DateTime), CAST(N'2021-04-10T16:37:42.873' AS DateTime), 0)
INSERT [dbo].[TbL_User] ([UserId], [FirstName], [LastName], [UserName], [Password], [Salt], [EmailSalt], [IsActive], [Status], [CreatedDate], [UpdateDate], [Phone]) VALUES (3, N'Neha', N'Neha', N'neha@gmail.com', N'DNaJc908Nt+pNbwlL5bBRQ==', N'71Yf8Jyo9Enmi/55zME41A==', N'71Yf8Jyo9Enmi/55zME41A==', 1, 1, CAST(N'2021-04-10T19:01:38.573' AS DateTime), CAST(N'2021-04-10T19:01:38.573' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[TbL_User] OFF
GO
SET IDENTITY_INSERT [dbo].[TestSeries] ON 

INSERT [dbo].[TestSeries] ([Id], [SeriesName], [IsActive], [CreatedDate], [Org], [Subject], [Time], [UserdId], [totalQ], [QuestionType]) VALUES (1, N'ब्लड रिलेशन टेस्ट टाइप 1', 1, CAST(N'2021-12-18T18:52:50.547' AS DateTime), 0, N'ब्लड रिलेशन टेस्ट टाइप 1', 50, 2, 4, 2)
INSERT [dbo].[TestSeries] ([Id], [SeriesName], [IsActive], [CreatedDate], [Org], [Subject], [Time], [UserdId], [totalQ], [QuestionType]) VALUES (2, N'General Science', 1, CAST(N'2022-01-16T15:01:01.980' AS DateTime), 0, N'General Science', 60, 2, 30, 5)
INSERT [dbo].[TestSeries] ([Id], [SeriesName], [IsActive], [CreatedDate], [Org], [Subject], [Time], [UserdId], [totalQ], [QuestionType]) VALUES (4, N'SSC General Awareness', 1, CAST(N'2022-01-16T17:03:50.307' AS DateTime), 0, N'SSC General Awareness', 60, 2, 36, 3)
SET IDENTITY_INSERT [dbo].[TestSeries] OFF
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [isActive]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[ProductCategory] ADD  DEFAULT ((0)) FOR [isActive]
GO
/****** Object:  StoredProcedure [dbo].[get_Question_list]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[get_Question_list]
(
@PaperType int 
)
as
BEGIN

select id,SeriesName PName,isActive from TestSeries where QuestionType=@paperType and IsActive=1
END
GO
/****** Object:  StoredProcedure [dbo].[save_Product]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[save_Product]   
(  
@Id int ,  
@Name nvarchar(100),  
@Description nvarchar(550) null,  
@ImageUrl nvarchar(300)  null,  
@Price decimal (18,2) null,  
@userId int ,  
@Quantity int ,
@isActive bit  
  
)  
as   
  
BEGIN  
if exists (select top 1* from Product where Id =@Id)  
BEGIN  
  
Update Product  
Set NAme =@Name,  
Description=@Description,  
ImageUrl=@ImageUrl,  
Price=@Price,  
UpdatedBy=@userId,  
UpdatedDate=GETDATE(),  
isActive=@isActive  ,
Quantity=@Quantity
Where Id=@Id  
  
END  
ELSE  
BEGIN  
  
insert into Product ( NAme ,  
Description,  
ImageUrl,  
Price,  
CreatedDate,  
CreatedBy,isActive,Quantity) values(@Name,@Description,@ImageUrl,@Price,GETDATE(),@userId,1,@Quantity)  
END  
  
END

GO
/****** Object:  StoredProcedure [dbo].[save_ProductCtaegory]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[save_ProductCtaegory]   
(  
@Id int ,  
@Name nvarchar(100),  
@Description nvarchar(550) null,  
 
@userId int ,  

@isActive bit  
  
)  
as   
  
BEGIN  
if exists (select top 1* from ProductCategory where Id =@Id)  
BEGIN  
  
Update ProductCategory  
Set NAme =@Name,  
Description=@Description, 
ModifyBy=@userId,  
ModifyDate=GETDATE(),  
isActive=@isActive  
Where Id=@Id  
  
END  
ELSE  
BEGIN  
  
insert into ProductCategory ( NAme ,  
Description,  
 
CreatedDate,  
CreatedBy,isActive,ModifyDate,ModifyBy) values(@Name,@Description,GETDATE(),@userId,1,GETDATE(),@userId)  
END  
  
END
GO
/****** Object:  StoredProcedure [dbo].[sp_feedback]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create proc [dbo].[sp_feedback]
(

@Password nvarchar(max),

@Userid int,
@status INT OUTPUT

)
as 
BEGIN
insert into feedback(FeedBack,UserId,Createdate) values(@Password,@Userid ,GETDATE())
select @status=1
END







GO
/****** Object:  StoredProcedure [dbo].[sp_getDashBardDetails]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_getDashBardDetails]
(
@userid int 
)
as
BEGIN
Declare @totalLeft int ,@Attempt int 
select @Attempt=count(t.Id)  from TestSeries t
left join AttemptQuiz a on t.Id=a.TestSeriesId
where a.userid=@userid


select @totalLeft  = count(t.Id)  from TestSeries  t
left join AttemptQuiz a on t.Id=a.TestSeriesId
where t.Id not in (select TestSeriesId from  AttemptQuiz where Userid=@userid)


select @totalLeft as TotalLeft,@Attempt as Attempt
END


GO
/****** Object:  StoredProcedure [dbo].[sp_getPaperSeries]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- exec  [sp_getLatestJoined] 1, 'gh'
CREATE proc [dbo].[sp_getPaperSeries]
(
@UserId int ,
@skipValue int ,
@GetValue int,
@statusType int
)
as

BEGIn
select t.Id,t.PName as Name ,t.qustinonLink as qustinonLink,
t.Yeasr ,t.IsActive as isActive,pt.SubjectText
from MasterQuestionPdf t
left join PaperType pt on t.PaperType=pt.Id
order by t.Id desc

END






GO
/****** Object:  StoredProcedure [dbo].[sp_getPaperTypeList]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_getPaperTypeList]  
(@UserId varchar(200) null   
)  
as  
BEGIN  
if(@UserId is not null)
BEGIN
select Id as KEYId,Value as Text from QuestionType where IsActive=1 
and subjectcat=@UserId
order by CreatedDate desc  
END
else 
BEGIN
select Id as KEYId,Value as Text from QuestionType where IsActive=1 

order by CreatedDate desc  
END
ENd

GO
/****** Object:  StoredProcedure [dbo].[sp_getProductcategoryList]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[sp_getProductcategoryList]
@UserId int ,
@skipValue int ,
@GetValue int 
as
BEGIN

select Id,Name,pc.isActive,tl.UserName,pc.CreatedDate from ProductCategory pc
left join TbL_User tl on tl.UserId=pc.CreatedBy
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getProductDatabyId]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
  
-- exec  [sp_getLatestJoined] 1, 'gh'  
CREATE proc [dbo].[sp_getProductDatabyId]  
(  
@id int 
)  
as  
BEGIN   
select Name,Description,ImageUrl,Price,Quantity,isActive,id,category from Product where id=@id

select Id as KEYId,Name as Text from ProductCategory where IsActive=1 

order by CreatedDate desc  
END  
  

GO
/****** Object:  StoredProcedure [dbo].[sp_getQuestionTypeList]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[sp_getQuestionTypeList]
(@UserId int 
)
as
BEGIN
select Id as KEYId,Value as Text from QuestionType
ENd
GO
/****** Object:  StoredProcedure [dbo].[sp_getTestSeries]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
  
-- exec  [sp_getLatestJoined] 1, 'gh'  
CREATE proc [dbo].[sp_getTestSeries]  
(  
@UserId int ,  
@skipValue int ,  
@GetValue int,  
@statusType int  
)  
as  
BEGIN   
if(@statusType=2)  
BEGIn  
select t.Id,SeriesName as Name ,'' as Subject,isnull(totalQ,0) as NoOfQustion,isnull(t.time,50) as Time,isActive as isActive, 1 as status  
,0 as scored from TestSeries t  
left join AttemptQuiz a on t.Id=a.TestSeriesId  
where a.userid=@UserId and t.IsActive=1  
  
END  
if(@statusType=3)  
BEGIn  
select t.Id,SeriesName as Name ,'' as Subject,isnull(totalQ,0) as NoOfQustion,isnull(time,50) as Time,isActive as isActive,3 as status  
,0 as scored from TestSeries t  
order by t.Id desc  
  
END  
ELSE  
  
BEGiN  
select t.Id,SeriesName as Name ,'' as Subject,isnull(totalQ,0) as NoOfQustion,isnull(t.time,50) as Time,isActive as isActive,2 as status  
,0 as scored from TestSeries  t  
left join AttemptQuiz a on t.Id=a.TestSeriesId  
where 
--t.Id not in (select TestSeriesId from  AttemptQuiz where Userid=@UserId) and 
t.IsActive=1  
END  
END  
  
  
GO
/****** Object:  StoredProcedure [dbo].[sp_getTestSeriesById]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    
    
-- exec  [sp_getTestSeriesById] 1, 1,10,2    
CREATE proc [dbo].[sp_getTestSeriesById]    
(
@UserId int ,    
@skipValue int ,    
@GetValue int,    
@testId int    
)    
as    
BEGIN Transaction 
BEGIN TRY     

update Question  
set sorting =abs(checksum(NewId()) % 10000)  
where testSerieId=@testId  


select ts.SeriesName,q.QuestinName ,q.qId as Id,isnull(ts.Time,50) as Time,    
(select id,Name,isAnswer,QuestionId from [Option] where QuestionId=q.Qid FOR JSON AUTO) as Options    
from TestSeries ts    
left join Question q on q.testSerieId=ts.Id    
where ts.id=@testId    
order  by sorting desc
if not exists(select top 1 * from AttemptQuiz where UserId=@UserId and TestSeriesId=@testId)    
BEGIN    
insert into AttemptQuiz(TestSeriesId,AttemtDate,isCompleted,Scored,UserId) values(@testId,getDAte(),1,10,@UserId)    
END    

Commit Transaction 
END TRY

  BEGIN  CATCH

  -- INSERT INTO dbo.DB_Errors
  --  VALUES
  --(SUSER_SNAME(),
  -- ERROR_NUMBER(),
  -- ERROR_STATE(),
  -- ERROR_SEVERITY(),
  -- ERROR_LINE(),
  -- ERROR_PROCEDURE(),
  -- ERROR_MESSAGE(),
  -- GETDATE());
 
--insert into Error_Log(sp,createdDate) values('test',getDAte())
ROllBAck Transaction 
  END CATCH
      
    
    
    
    
    
GO
/****** Object:  StoredProcedure [dbo].[sp_PaperSeries]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_PaperSeries]  
(  
@Paper nvarchar(300),  
@time nvarchar(max),  
@Userid int null,  
@description nvarchar(max),  
@questionUrl nvarchar(max),  
@answerurl nvarchar(max),  
@paperType int null,  
@status INT OUTPUT  
  
)  
 
as   
BEGIN  
  
insert into MasterQuestionPdf(qustinonLink	,AnswerLink	,PaperType	,Yeasr	,IsActive,	CreatedDate,	PName,	SMonth) values(@questionUrl,@answerurl,@paperType,@time,1,GETDATE(),@Paper,null)  
select @status=1  
return ;  

END  
  
  
  
  
  
  
  
  
GO
/****** Object:  StoredProcedure [dbo].[sp_PrductList]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
  
-- exec  [sp_getLatestJoined] 1, 'gh'  
CREATE proc [dbo].[sp_PrductList]  
(  
@UserId int ,  
@skipValue int ,  
@GetValue int,  
@statusType int  
)  
as  
BEGIN   
select Name,Description,ImageUrl,Price,Quantity,isActive,id from Product
END  
  
  
GO
/****** Object:  StoredProcedure [dbo].[sp_publish]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_publish]
(

@testId int null,

@status INT OUTPUT

)

as 
BEGIN
update TestSeries
set IsActive=1
where id=@testId
select @status=1

END









GO
/****** Object:  StoredProcedure [dbo].[sp_Question]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Question]  
(  
@Quetion nvarchar(500),  
@Option nvarchar(max),  
@userid int,  
@testSeriesid int,  
  
@QuestionNo INT OUTPUT  
  
)  
as   
BEGIN  
Declare @QuestionId int   
  
insert into Question (QuestinName,IsActive,CreatedDate,testSerieid) values(@Quetion,1,GETDATE(),@testSeriesid)  
set @QuestionId=@@Identity  
select @QuestionNo=count(Qid) from Question where testSerieId=@testSeriesid  
update TestSeries  
set totalQ=@QuestionNo  
where id=@testSeriesid  
insert into [Option](Name,isAnswer,QuestionId,IsActive,CreatedDate)  
select  [option],answer,@QuestionId,1,getDate() from   
OPENJSON(@Option, '$.arr')    
With([option] nvarchar(max),answer bit)  
  
  
--select @QuestionNo  
END  
  
  
  
  
  
  
  
  
GO
/****** Object:  StoredProcedure [dbo].[sp_saveUser]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_saveUser]
(
@FirstName nvarchar(300),
@Phone bigint null,
@Email nvarchar(max),
@Password nvarchar(max),
@PassWordSalt nvarchar(max),

@status INT OUTPUT

)
as 
BEGIN
Declare @profileId nvarchar(max)
if exists(select top 1 * from TbL_User where UserName=@Email)
BEGIN
select @status=1
return ;
END
ELSE
BEGIN
 set @profileId= 'QT' + REPLACE(STR(isnull((select top 1 UserId from  TbL_User order by UserId desc ),1),5),' ', '0') 
insert into TbL_User values(@FirstName,@FirstName,LOWER(@Email),@Password,@PassWordSalt,@PassWordSalt,1,1,getdate(),GETdATE(),@Phone)
select @status=2
return ;
END

END








GO
/****** Object:  StoredProcedure [dbo].[sp_testSeries]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[sp_testSeries]
(
@testSeries nvarchar(max) null,

@time int ,
@UserId int ,
@description nvarchar(max) null,
@questionType int,
@Status int OUTPUT
 )
 As 
 BEGIN
 insert into TestSeries (SeriesName,IsActive,CreatedDate,Org,Subject,Time,UserdId,totalQ,QuestionType) values(
 @testSeries,1,GETDATE(),0,@description,@time,@UserId,0,@questionType)

 select 1
 END


 --select * from TestSeries
GO
/****** Object:  StoredProcedure [dbo].[sp_updatePassword]    Script Date: 07-08-2022 15:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_updatePassword]
(

@Password nvarchar(max),
@PassWordSalt nvarchar(max),
@Userid int,
@status INT OUTPUT

)
as 
BEGIN

if exists(select top 1 * from TbL_User where Userid=@UserId)
BEGIN
select @status=1
update TbL_User
set Password=@Password,
Salt=@PassWordSalt
where userId=@Userid

END
ELSE
BEGIN 
select @status=2
END
END






GO
USE [master]
GO
