<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <div class="row">
      <div class="content-wrapper full-page-wrapper d-flex align-items-center auth register-full-bg">
        <div class="row w-100">            
              <div class="col-lg-6 mx-auto  bg-white">
                <div class="auth-form-light text-left p-5">
                  <h2>Reset Password</h2>
                  <hr />
                  <!--<h2><a routerLink="/"><img src="assets/images/logo.png"  class="img-fluid" /></a></h2>-->                 
                  <form class="pt-4">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    
                      <div class="form-row">
                        <div class="form-group col-6">
                          <label>Password</label>
                          <input type="text" formControlName="password"placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                            <div *ngIf="f['password'].errors['required']">Password is required</div>
                            <div *ngIf="f['password'].errors['password']">Password must be a valid .</div>
                          </div>
                        </div>
                      
                      </div>

                    

                      <div class="text-center">
                        <button class="btn btn-primary mr-1">Update Password</button>

                      </div>
                      <div class="mt-2 text-center">
                        <a routerLink="/login" class="auth-link text-black">Account Already ?  <span class="font-weight-medium">Login</span></a><br />
                      </div>
                    </form>
                  </form>
                </div>
              </div>
           
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- row ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>

