<!--<style>
  .modal-dialog {
    /* max-width: 65vw!important; */
  }
</style>-->

  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <Div class="card-title row">
          <div class="col-lg-3">Quiz List</div>
          <div class="col-lg-6"> <input type="text" class="form-control" [(ngModel)]="term" placeholder="Serach any fields" /></div>
          <div class="col-lg-3">  <button type="button" class="btn btn-primary pull-right" (click)="back()">Back</button></div>
          
         
        

        </Div>
        <div class="row">
          <div class="col-lg-12">
          
            
            <table class="table table-hover">
              <thead>
                <tr>
                  <td>S.N</td>
                  <td>Name</td>
                  <td>No Of Question</td>
                  <td>Time</td>
                  <td>Action</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let quiz of quizList |filter:term | paginate: { itemsPerPage: 5, currentPage: p };let i = index">
                  <td>{{i+1}}</td>
                  <td>{{quiz.name}}</td>
                  <td>{{quiz.noOfQustion}}</td>
                  <td>{{quiz.time}}</td>
                  <td>
                    <button type="button" *ngIf="quiz.status==1" (click)="AttempSeries(quiz.id)" class="btn btn-primary">Reattampt Series</button>
                    <button type="button" *ngIf="quiz.status==2" (click)="AttempSeries(quiz.id)" class="btn btn-primary">Start Test Series</button>
                  </td>
                </tr>
                <pagination-controls *ngIf="quizList.length>5" (pageChange)="p = $event"></pagination-controls>
                `
              </tbody>
            </table>






          </div>
        </div>
        <!--<div class="show-more">
          <a href="#">Show more</a>
        </div>-->
      </div>
  </div>

</div>




