<section class="bg-light overiew">
  <div class="container">
       <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Overview</h2>
        <h3 class="section-subheading text-muted">Sports Perpetual</h3>
      </div>
    </div>
      <div class="col-lg-12">
          <p class="text-muted text-center">Sports Perpetual offers Customers an opportunity to make Risk Free Profits from Online sports betting via licencing its innovative bet placement and administration software.

</p>
          <p class="text-muted text-center">Bets are automatically placed by the software when there is a probability edge over the market. At the outset, Sports Perpetual provides qualifying Customers with a software license signup bonus, the bonus is used by the customer to fund an online e-wallet in the name of the Customer. The Customers e-wallet is used as a central hub to fund a portfolio of bookmaker accounts and one bet exchange account in the name of the Customer. The Customer retains a share of profits made by the software after paying Sports Perpetual its software licence fee, the fee is only paid if profits are made. </p>
          <p class="text-muted text-center">The proposition is designed to provide Customers with an ongoing share of profits from sports betting at no initial cost and with no ongoing risk. Sports Perpetual software automatically places all bets and carries out all administration functions for the customer.</p>
          <h3 class="section-subheading text-muted text-center features-heading">The three main features of the software are</h3>
       </div>


    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Automated bet placement</h4>
        
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-user fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Automated Account Administration</h4>
      
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-key fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Automated Software Licence Fee Payments</h4>
      
      </div>
    </div>
  </div>
</section>